
@{
    ViewBag.Title = "Phiếu nhập kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .inline-number { display:flex}
    .inline-number input { width:90px; text-align:center}
    .inline-number i, .inline-number span { margin:0 5px; line-height:34px}
</style>

<div id="receiption-jtable"></div>
 
@*popup parent*@
<div id="receiption-popup" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" receiption-cancel class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông Tin Phiếu Nhập Kho</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <input type="hidden" id="receiption-id" />
                    <div class="form-group col-md-4">
                        <label class=" control-label">Mã Phiếu Nhập Kho</label>
                        <input type="text" id="receiption-index" class="form-control" disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label class=" control-label">Tên Phiếu Nhập Kho</label><span style="color:red"> *</span>
                        <input type="text" id="receiption-name" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class=" control-label">Kho lưu</label><span style="color:red"> *</span>
                        <div class="select-box">
                            <select id="receiption-warehouse" class="form-control"></select>
                            <i re-receiption-warehouse class="fa fa-refresh clickable red"></i>
                            <span><a href="/WareHouse/Index" target="_blank"><i class="fa fa-plus-circle clickable blue"></i></a></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class=" control-label">Nhân viên kho</label><span style="color:red"> *</span>
                        <div class="select-box">
                            <select id="receiption-employee" class="form-control"></select>
                            <i re-receiption-employee class="fa fa-refresh clickable red"></i>
                            @*   <a href="@AppGlobal.HRMUrl/Employee/Create/0" target="_blank"><i class="fa fa-plus-circle clickable blue"></i></a>*@
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Ngày Nhập Kho </label><span style="color:red"> *</span>
                        <input type="text" class="form-control" id="receiption-inputdate" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class=" control-label">Hình Thức Giao Dịch </label><span style="color:red"> *</span>
                        <div class="select-box">
                            <select id="receiption-transactiontype" class="form-control">
                                <option value="1">GD Trực Tiếp</option>
                                <option value="2">GD Tại Sở Giao Dịch</option>
                                <option value="3">Mua Bán Đối Lưu</option>
                                <option value="4">Mua Bán Tái Xuất</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class=" control-label  ">Nhà Cung Cấp </label><span style="color:red"> *</span>
                        <div class="select-box">
                            <select id="receiption-customer" class="form-control"></select>
                            <i re-receiption-customer class="fa fa-refresh clickable red"></i>
                            <a href="/Customer/Index" target="_blank"><i class="fa fa-plus-circle clickable blue"></i></a>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class=" control-label">Tiền Tệ - Tỷ Giá </label><span style="color:red"> *</span>
                        <div class="select-box">
                            <select id="receiption-moneytype" style="width: 90px"></select>
                            <i re-receiption-moneytype class="fa fa-refresh clickable red"></i>
                            @*  <a href="@AppGlobal.HostUrl/MoneyType/Index" target="_blank"><i class="fa fa-plus-circle clickable blue"></i></a>*@
                            <i class="fa fa-arrow-right red"></i>
                            <input type="text" id="receiption-exchangerate" onkeypress="return isNumberKey(event)" class="form-control" style="display:inline-block; width:90px; margin-top: -4px" />
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class=" control-label">Ngày Hạch Toán </label><span style="color:red"> *</span>
                        <input type="text" class="form-control" id="receiption-dateofaccounting" />
                    </div>
                    <div class="form-group col-md-12">
                        <label class=" control-label">Ghi Chú</label>
                        <textarea class="form-control" id="receiption-note"></textarea>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" receiption-cancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
                <button type="button" receiption-save_d class="btn btn-danger"><i class="fa fa-floppy-o"></i> Lưu và duyệt </button>
                <button type="button" receiption-save class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu lại </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Create/Edit ReceiptionDetail-->

<div id="receiption-detail-popup" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" receiption-detail-cancel class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông Tin Chi Tiết</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <input type="hidden" id="receiption-detail-id" />
                    <div class="form-group col-md-4">
                        <label class="control-label">Mã Lô </label>
                        <input type="text" class="form-control" id="receiption-detail-index" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Tên Lô <span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="receiption-detail-name" placeholder="Tên Lô vật tư">
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label">Vật Tư </label><span style="color:red"> *</span>
                        <div class="select-box">
                            <select id="receiption-detail-material" class="form-control"></select>
                            <i re-receiption-detail-material class="fa fa-refresh clickable red"></i>
                            <a href="/MaterialType/Index" target="_blank"><i class="fa fa-plus-circle clickable blue"></i></a>
                        </div>
                    </div>
                    @*<div class="form-group col-md-4">
                            <label class="control-label">Kho</label><span style="color:red"> *</span>
                            <div class="select-box">
                                <select id="receiption-detail-warehouse" class="form-control"></select>
                                <i re_warehouse class="fa fa-refresh clickable red"></i>
                                <a href="/WareHouse/Index" target="_blank"><i class="fa fa-plus-circle clickable blue"></i></a>
                            </div>
                        </div>*@
                    <div class="form-group col-md-4">
                        <label class="control-label">Số Lượng Nhập - Thực Tế</label><span style="color:red"> *</span>
                        <div class="inline-number">
                            <input type="text" onkeypress="return isNumberKey(event)" class="form-control  " id="receiption-detail-quantity" style=" width:107px" value="0">
                            <i class="fa fa-arrow-right red"> </i>
                            <input type="text" class="form-control " id="receiption-detail-currentquantity" disabled style="  width:107px" value="0">
                            <span  id="receiption-detail-unit" >Cái</span>

                        </div>
                    </div> 
                    <div class="  col-md-4">
                        <label class=" control-label  ">Quy cách đóng gói  </label>
                        <input type="text" class="form-control" id="receiption-detail-specifications-paking" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class=" control-label ">Đơn Giá Nhập</label><span style="color:red"> *</span>
                        <div>
                            <input type="text" onkeypress="return isNumberKey(event)" class="form-control" id="receiption-detail-price">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Ngày Sản Xuất </label><span style="color:red"> *</span>
                        <input type="text" class="form-control" id="receiption-detail-manufacturedate" />
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label">Ngày Bảo Hành </label>
                        <input type="text" class="form-control" id="receiption-detail-warrantydate" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Ngày Hết Hạn SD </label>
                        <input class="form-control" id="receiption-detail-expirydate" type="text" />
                    </div>
                    @*<div class="form-group col-md-4">
                            <label class="control-label">Trạng Thái </label><span style="color:red"> *</span>
                            <div>
                                <select name="receiption-detail-status" receiption-detail-status id="receiption-detail-status" class="form-control"> </select>
                                <i re_status class="fa fa-refresh clickable red"></i>
                                 <a href="@AppGlobal.HostUrl/Status/Index" target="_blank"><i class="fa fa-plus-circle clickable blue"></i></a>
                            </div>
                        </div>*@
                    <div class="form-group col-md-12">
                        <label class="control-label">Ghi Chú</label>
                        <textarea class="form-control" id="receiption-detail-note"></textarea>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" receiption-detail-cancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
                <button type="button" receiption-detail-save class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu lại </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/IED/Receiption/Receiption_Index.js"></script>
